# Internal repo
[pbench]
name=Pbench $releasever - $basearch
baseurl=http://pbench.perf.lab.eng.bos.redhat.com/repo/$releasever/
arch=$basearch
enabled=1
gpgcheck=0
skip_if_unavailable=1

# External COPR repo
[copr-pbench]
name=Copr repo for pbench owned by ndokos
baseurl=https://copr-be.cloud.fedoraproject.org/results/ndokos/pbench/epel-7-$basearch/
gpgcheck=0
enabled=1

