# server_extras repo
[server_extras]
name=server_extras
description=extras
baseurl=http://pulp.dist.prod.ext.phx2.redhat.com/content/dist/rhel/server/7/7Server/x86_64/extras/os
enabled=yes
gpgcheck=no
