# server_optional repo
[server_optional]
name=server_optional
description=Optional
baseurl=http://download.eng.bos.redhat.com/rel-eng/latest-RHEL-7/compose/Server-optional/x86_64/os
enabled=yes
gpgcheck=no
